NGROK_AUTHTOKEN=

CLOUDFLARE_TUNNEL_TOKEN=

MQTT_BROKER=tcp://mqtt:1883
MQTT_USERNAME=
MQTT_PASSWORD=

BACKEND_URL=http://backend:3000

MQTT_INPUT_BROKER=tcp://mqtt:1883
MQTT_INPUT_USERNAME=
MQTT_INPUT_PASSWORD=
MQTT_OUTPUT_BROKER=tcp://mqtt:1883
MQTT_OUTPUT_USERNAME=
MQTT_OUTPUT_PASSWORD=
TOPIC_OUTPUT=v1/devices/me/telemetry
